<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h3>TaskCat.Automaton Graph Builder</h3>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div id="canvasContainer" class="center-block" #canvasContainer>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button type="button" class="btn btn-fab btn-success pull-right">
                <i class="material-icons" >file_upload </i>
            </button>
        </div>
    </div>
</div>